<p style="color: green"><%= notice %></p>

<% content_for :title, "Instalaciones" %>

<h1>Instalaciones</h1>

<div id="instalaciones">
  <% @instalaciones.each do |instalacion| %>
    <%= render instalacion %>
    <p>
      <%= link_to "Show this instalacion", instalacion %>
    </p>
  <% end %>
</div>

<%= link_to "New instalacion", new_instalacion_path %>
