<% content_for :title, "New instalacion" %>

<h1>New instalacion</h1>

<%= render "form", instalacion: @instalacion %>

<br>

<div>
  <%= link_to "Back to instalaciones", instalaciones_path %>
</div>
